In [1]:
import pandas as pd, numpy as np
demand=pd.read_csv("./Demand_History.csv")
existing=pd.read_csv("./exisiting_EV_infrastructure_2018.csv")

In [3]:
demand.head()

,demand_point_index,x_coordinate,y_coordinate,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,0.5,0.5,0.352242,0.667932,0.958593,2.911901,4.338274,6.561995,8.454417,10.595324,13.119572
1,1,1.5,0.5,0.325940,0.591964,0.862652,2.589068,4.196034,5.745551,8.753195,11.126995,12.020091
2,2,2.5,0.5,0.373752,0.591890,0.969733,2.641432,3.541772,5.469161,8.414627,10.115336,14.018254
3,3,3.5,0.5,0.420686,0.584055,0.906547,2.378577,3.888121,5.846089,9.083868,12.424885,15.012302
4,4,4.5,0.5,0.475621,0.647940,0.981544,2.665400,4.218711,6.776609,8.851107,11.731131,16.355563

In [4]:
existing.head()

,supply_point_index,x_coordinate,y_coordinate,total_parking_slots,existing_num_SCS,existing_num_FCS
0,0,50.163110,19.412014,23,5,3
1,1,37.336451,58.119225,27,4,7
2,2,46.709232,57.525650,31,6,14
3,3,30.528626,55.379835,26,5,5
4,4,51.521781,35.116755,32,11,6

In [13]:
#distance matrix between demand points and supply points
xs=np.array(existing["x_coordinate"])
ys=np.array(existing["y_coordinate"])
xd=np.array(demand["x_coordinate"])
yd=np.array(demand["y_coordinate"])
dist=np.zeros((100,4096))

for i in range(100):
    for j in range(4096):
        dist[i][j]=(((xs[i]-xd[j])**2)+((ys[i]-yd[j])**2))**0.5

dist=dist.transpose

In [15]:
#sample 2019 data to allocate

d19 = 2*np.array(demand["2018"])-np.array(demand["2017"])
d19

array([15.64381991, 12.9131868 , 17.921172  , ...,  4.10335658,
        6.42828986,  7.42080118])